h1{text-align: center;
font-family: Pacifico;
}


.firstHeading{ margin-top: 5%;
font-size: 3rem;}


.agon{text-align: center;
margin-top: 10%;}


#pressIt{width: 10%;
margin-left: 45%;
margin-right: 45%;
margin-top: 10%;
}


body{
  background-color: #ccddff;
}



#answer{margin-top: 5%;}




.form-control
{



}


.margie{
  margin-bottom: 10%;
}
